<?xml version="1.0" encoding="UTF-8"?>
<config>
    <persistence-class-name>library.persistence.JDBCPersistence</persistence-class-name>
    <url>jdbc:mysql://localhost:3306/library</url>
    <driver>com.mysql.jdbc.Driver</driver>
    <username>librarian</username>
    <password>librarian</password>
</config>